
.icon-5star:before { content: '\e800'; } /* '' */
.icon-4star:before { content: '\e801'; } /* '' */
.icon-3star:before { content: '\e802'; } /* '' */
.icon-2star:before { content: '\e803'; } /* '' */
.icon-1star:before { content: '\e804'; } /* '' */
.icon-2star-1:before { content: '\e805'; } /* '' */