ul.activity-log-list > li{
    padding: 15px 10px;
    border-top: 1px solid #cccccc;
}
.log-section{
    position: relative;
}
.log-item{
    text-align: right;
    padding-left: 10px;
}
.log-item img{
    max-width: 150px;
}
.log-item .div_single{
    background: none;
    text-align: right;
}
.log-action{
    padding-right: 5px!important;
}
.log-action i{
    vertical-align: middle;
    color: #888;
}
.log-info{
    padding-left: 15px!important;
}
.log-info .date{
    font-size: 11px;
    display: inline-block;
}
.log-action a{
    color: inherit;
}
.item-action a{
    color: inherit;
}

@media (max-width: 992px){
    .log-action{
        margin-top: 7px;
    }
    .log-filter{
        padding: 0px 10px;
    }
    .activity-log-list li{
        margin: 0px;
    }
}