@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?54233101');
  src: url('../font/fontello.eot?54233101#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?54233101') format('woff'),
       url('../font/fontello.ttf?54233101') format('truetype'),
       url('../font/fontello.svg?54233101#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54233101#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-pencil-squared:before { content: '\21'; } /* '!' */
.icon-flash:before { content: '\22'; } /* '&quot;' */
.icon-down-small:before { content: '\23'; } /* '#' */
.icon-up-open-mini:before { content: '\24'; } /* '$' */
.icon-right-open-mini:before { content: '\25'; } /* '%' */
.icon-left-open-mini:before { content: '\26'; } /* '&amp;' */
.icon-forward:before { content: '\27'; } /* ''' */
.icon-search:before { content: '\28'; } /* '(' */
.icon-eye:before { content: '\29'; } /* ')' */
.icon-retweet:before { content: '\2a'; } /* '*' */
.icon-lock:before { content: '\2b'; } /* '+' */
.icon-post:before { content: '\2c'; } /* ',' */
.icon-thumbs-up-alt:before { content: '\2d'; } /* '-' */
.icon-thumbs-down-alt:before { content: '\2e'; } /* '.' */
.icon-edit-1:before { content: '\2f'; } /* '/' */
.icon-camera:before { content: '\30'; } /* '0' */
.icon-user-add:before { content: '\31'; } /* '1' */
.icon-users:before { content: '\32'; } /* '2' */
.icon-user-2:before { content: '\33'; } /* '3' */
.icon-link-1:before { content: '\34'; } /* '4' */
.icon-home:before { content: '\35'; } /* '5' */
.icon-comments:before { content: '\36'; } /* '6' */
.icon-cog-1:before { content: '\37'; } /* '7' */
.icon-globe:before { content: '\38'; } /* '8' */
.icon-flag-1:before { content: '\39'; } /* '9' */
.icon-location:before { content: '\3a'; } /* ':' */
.icon-star:before { content: '\3c'; } /* '&lt;' */
.icon-star-circled:before { content: '\3d'; } /* '=' */
.icon-bell:before { content: '\3e'; } /* '&gt;' */
.icon-user-outline:before { content: '\3f'; } /* '?' */
.icon-user-add-outline:before { content: '\40'; } /* '@' */
.icon-trash:before { content: '\41'; } /* 'A' */
.icon-spin5:before { content: '\42'; } /* 'B' */
.icon-cog:before { content: '\43'; } /* 'C' */
.icon-calendar-empty:before { content: '\44'; } /* 'D' */
.icon-user-1:before { content: '\45'; } /* 'E' */
.icon-bookmark-empty:before { content: '\46'; } /* 'F' */
.icon-bookmark:before { content: '\47'; } /* 'G' */
.icon-menu:before { content: '\48'; } /* 'H' */
.icon-cancel:before { content: '\49'; } /* 'I' */
.icon-ok-squared:before { content: '\4a'; } /* 'J' */
.icon-cancel-1:before { content: '\4b'; } /* 'K' */
.icon-check:before { content: '\4c'; } /* 'L' */
.icon-ok-outline:before { content: '\4d'; } /* 'M' */
.icon-cancel-outline:before { content: '\4e'; } /* 'N' */
.icon-camera-outline:before { content: '\50'; } /* 'P' */
.icon-direction-outline:before { content: '\51'; } /* 'Q' */
.icon-lock-open:before { content: '\52'; } /* 'R' */
.icon-lock-1:before { content: '\53'; } /* 'S' */
.icon-pin-outline:before { content: '\54'; } /* 'T' */
.icon-left-open-outline:before { content: '\55'; } /* 'U' */
.icon-right-open-outline:before { content: '\56'; } /* 'V' */
.icon-calendar:before { content: '\57'; } /* 'W' */
.icon-chat-alt:before { content: '\58'; } /* 'X' */
.icon-link-outline:before { content: '\59'; } /* 'Y' */
.icon-heart:before { content: '\5a'; } /* 'Z' */
.icon-envelope:before { content: '\5b'; } /* '[' */
.icon-picture-outline:before { content: '\5c'; } /* '\' */
.icon-cog-outline:before { content: '\5d'; } /* ']' */
.icon-down-outline:before { content: '\5e'; } /* '^' */
.icon-left-outline:before { content: '\5f'; } /* '_' */
.icon-right-outline:before { content: '\60'; } /* '`' */
.icon-up-outline:before { content: '\61'; } /* 'a' */
.icon-record:before { content: '\62'; } /* 'b' */
.icon-record-outline:before { content: '\63'; } /* 'c' */
.icon-share:before { content: '\64'; } /* 'd' */
.icon-flag:before { content: '\65'; } /* 'e' */
.icon-star-1:before { content: '\66'; } /* 'f' */
.icon-plus-outline:before { content: '\67'; } /* 'g' */
.icon-cancel-circled-outline:before { content: '\68'; } /* 'h' */
.icon-group:before { content: '\69'; } /* 'i' */
.icon-eye-outline:before { content: '\6a'; } /* 'j' */
.icon-picture-2:before { content: '\6b'; } /* 'k' */
.icon-th-large-outline:before { content: '\6c'; } /* 'l' */
.icon-gift:before { content: '\6d'; } /* 'm' */
.icon-coffee:before { content: '\6e'; } /* 'n' */
.icon-up-open:before { content: '\6f'; } /* 'o' */
.icon-right-open-big:before { content: '\70'; } /* 'p' */
.icon-left-open-big:before { content: '\71'; } /* 'q' */
.icon-down-open:before { content: '\72'; } /* 'r' */
.icon-heart-filled:before { content: '\73'; } /* 's' */
.icon-heart-broken:before { content: '\74'; } /* 't' */
.icon-heart-2:before { content: '\76'; } /* 'v' */
.icon-heart-empty-1:before { content: '\77'; } /* 'w' */
.icon-facetime-video:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-user-delete:before { content: '\e802'; } /* '' */
.icon-file-text-alt:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-add:before { content: '\e805'; } /* '' */
.icon-delete:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-th-list:before { content: '\e809'; } /* '' */